/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
  --col-text: #333;
  --col-accent: #9D5CD0;
  --col-active: #7943A4;
  --col-hover: #C283F3;
}

@-webkit-keyframes animBG {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes animBG {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.html {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--col-text);
}
.body {
  width: 100%;
  min-width: 320px;
}
.a-reset {
  text-decoration: none;
  color: inherit;
}
.button-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}
.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.h-reset {
  margin: 0;
  padding: 0;
}
.img-reset {
  max-width: 100%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 1632px;
}
.btn {
  text-align: center;
  padding: 25px 29px 23px 34px;
  border: 3px solid transparent;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}
.title-hidden {
  position: absolute;
  height: 0;
  overflow: hidden;
}
.svg-sprite {
  display: none;
}

/* header */
.header {
  font-size: 18px;
  color: white;
}
.header__wrap {
  padding-top: 30px;
  padding-bottom: 27px;
  background: black;
}
.header__wrap:last-child {
  padding-top: 17px;
  padding-bottom: 16px;
  background: rgba(0, 0, 0, .4);
}
.header__wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  position: relative;
  top: -2px;
  z-index: 200;
  display: none;
  margin-left: -4px;
  padding: 0;
  height: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.burger__menu {
  display: block;
  width: 28px;
  height: 3.65px;
  background: white;
}
.burger__menu::after,
.burger__menu::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3.65px;
  background: white;
  transition: -webkit-transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.burger__menu::after{
  top: 4px;
  width: 36px;
}
.burger__menu::before {
  bottom: 5px;
  width: 24px;
}
.burger__menu--close {
  display: block;
  width: 37px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.burger__menu--close::after {
  top: 0;
  width: 37px;
  -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
}
.burger__menu--close::before {
  display: none;
}
.header__logo {
  margin-right: -94px;
}
.header__search {
  display: none;
}
.header__search-open {
  display: none;
}
.header__nav {
  padding-bottom: 5px;
}
.nav__list,
.catalogy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__item:not(:last-child) {
  margin-right: 65px;
}
.nav__link,
.header__log-in {
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.log-in__icon {
  fill: white;
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}
.nav__link:hover {
  color: var(--col-hover);
}
.nav__link:active {
  color: var(--col-active);
}
.nav__link:focus,
.header__log-in:focus,
.catalogy__link:focus {
  outline: 2px solid var(--col-active);
}
.header__log-in:hover {
  color: var(--col-hover);
}
.header__log-in:hover .log-in__icon {
  fill: var(--col-hover);
}
.header__log-in:active {
  color: var(--col-accent);
}
.header__log-in:active .log-in__icon {
  fill: var(--col-accent);
}
.header__log-in {
  position: relative;
  display: block;
  padding: 5px;
  color: white;
  cursor: pointer;
  outline: none;
}
.catalogy__item {
  position: relative;
  margin-left: -5px;
  cursor: pointer;
}
.catalogy__item:not(:last-child) {
  margin-right: 88px;
}
.catalogy__link {
  position: relative;
  padding: 5px;
  padding-right: 25px;
  color: #FFFFFF;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.catalogy__link::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 13px;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  -webkit-transition: border-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: border-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out, transform .3s ease-in-out;
  transition: border-color .3s ease-in-out, transform .3s ease-in-out;
  transition: border-color .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.catalogy__link:hover {
  color: var(--col-accent);
}
.catalogy__link:hover::after {
  border-color: var(--col-accent);
}
.catalogy__link:active {
  color: var(--col-active);
}
.catalogy__link:active::after {
  border-color: var(--col-active);
}
.catalogy__link--open.catalogy__link::after {
  -webkit-transform-origin: center 75%;
      -ms-transform-origin: center 75%;
          transform-origin: center 75%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.item__list {
  position: absolute;
  top: 50px;
  display: none;
  padding: 40px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.6);
}
.catalogy__link--open + .item__list {
  display: block;
}
.item__inner--bg-1 {
  background: url("../img/header/1/1.png");
}
.item__inner--bg-2 {
  background: url("../img/header/1/2.png");
}
.item__inner--bg-3 {
  background: url("../img/header/1/3.png");
}
.item__inner--bg-4 {
  background: url("../img/header/1/4.png");
}
.item__inner--bg-5 {
  background: url("../img/header/2/1.png");
}
.item__inner--bg-6 {
  background: url("../img/header/2/2.png");
}
.item__inner--bg-7 {
  background: url("../img/header/2/3.png");
}
.item__inner--bg-8 {
  background: url("../img/header/2/4.png");
}
.item__inner--bg-9 {
  background: url("../img/header/3/1.png");
}
.item__inner--bg-10 {
  background: url("../img/header/3/2.png");
}
.item__inner--bg-11 {
  background: url("../img/header/3/3.png");
}
.item__inner--bg-12 {
  background: url("../img/header/3/4.png");
}
.item__inner--bg-13 {
  background: url("../img/header/4/1.png");
}
.item__inner--bg-14 {
  background: url("../img/header/4/2.png");
}
.item__inner--bg-15 {
  background: url("../img/header/4/3.png");
}
.item__inner--bg-16 {
  background: url("../img/header/4/4.png");
}
.item__inner--bg-17 {
  background: url("../img/header/4/1.png");
}
.item__inner--bg-18 {
  background: url("../img/header/4/2.png");
}
.item__inner--bg-19 {
  background: url("../img/header/4/3.png");
}
.item__inner--bg-20 {
  background: url("../img/header/4/4.png");
}
.item__inner {
  position: relative;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 11px;
  width: 220px;
  height: 40px;
  border: 2px solid transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: border-color .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out;
  transition: border-color .3s ease-in-out;
}
.item__inner:not(:last-child) {
  margin-bottom: 20px;
}
.item__inner:hover {
  border: 2px solid var(--col-accent);
}
.item__inner:active {
  border: 2px solid #D1A9F0;
}
.item__inner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 0;
  width: 100%;
  background: -o-linear-gradient(bottom, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  -webkit-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}
.item__inner:active:before {
  height: 100%;
}
.item__link {
  position: relative;
  z-index: 100;
}
.simplebar-track.simplebar-vertical {
  top: 40px;
  bottom: 40px;
  right: 19px;
  width: 2px;
  background: #000;
}
.simplebar-scrollbar {
  background: #fff;
}
.header__wrap:last-child .header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  cursor: pointer;
}
.search__btn {
  position: absolute;
  left: -31px;
  padding: 5px;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  cursor: pointer;
}
.search__btn::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 37px;
  width: 216px;
  height: 1px;
  background: white;
  -webkit-transition: background .3s ease-in-out;
  -o-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.search__btn:focus {
  outline: 2px solid var(--col-active);
}
.search__input {
  padding: 3px 20px 10px 2px;
  border: none;
  color: var(--col-hover);
  background: transparent;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  cursor: pointer;
}
.search__input::-webkit-input-placeholder {
  color: white;
}
.search__input::-moz-placeholder {
  color: white;
}
.search__input:-ms-input-placeholder {
  color: white;
}
.search__input::-ms-input-placeholder {
  color: white;
}
.search__input::placeholder {
  color: white;
}
.search__input:focus {
  outline: 2px solid var(--col-active);
}
.search__icon {
  fill: white;
  cursor: pointer;
  -webkit-transition: fill .3s ease-in-out;
  -o-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}
.header__search:hover .search__icon {
  fill: var(--col-hover);
}
.header__search:hover .search__btn::after {
  background: var(--col-hover);
}

/* section__hero */
.section__hero {
  padding-top: 72px;
  height: 629px;
  color: white;
}
.hero__slider {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 700px;
}
.hero__bg {
  height: 100%;
  background-size: 100%;
  -webkit-animation: animBG 10s linear infinite;
          animation: animBG 10s linear infinite;
}
.hero__bg--1 {
  background: url("../img/hero/hero-1.jpg") no-repeat center center;
}
.hero__title {
  margin-bottom: 19px;
  margin-left: -4px;
  font-weight: 700;
  font-size: 72px;
  line-height: 115%;
}
.hero__desc {
  margin-bottom: 118px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.hero__title,
.hero__desc {
  max-width: 580px;
}
.hero__btn {
  position: relative;
  color: white;
  letter-spacing: 1.2px;
  background: var(--col-accent);
}
.hero__btn::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  width: 317px;
  height: 76px;
  border-radius: 100px;
  background: var(--col-hover);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.hero__btn:hover {
  border-color: #D1A9F0;
}
.hero__btn:focus {
  border-color: white;
  outline: none;
}
.hero__btn:focus::after {
  opacity: 1;
}

/* section__about-us */
.section__about-us {
  padding-top: 86px;
  padding-bottom: 70px;
}
.section__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
}
.section__title--about {
  margin-left: -2px;
}
.section__descr {
  font-size: 16px;
  line-height: 32px;
}
.section__descr--about {
  max-width: 1080px;
  width: 100%;
}
/* section__gallery */
.section__gallery {
  padding: 85px 0 54px;
  background: url("../img/gallery/gallery-bg.jpg") no-repeat center;
  background-size: cover;
  color: #FFFFFF;
}
.container--gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 856px;
}
.section__wrapper:nth-child(2),
.section__wrapper:first-child {
  margin-right: 40px;
  width: 25%;
}
.section__wrapper:nth-child(2) {
  width: 25%;
}
.section__wrapper:last-child {
  margin-top: 60px;
  max-width: 73%;
  width: 100%;
}
.section__wrapper:nth-child(2) {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}
.section__title--gallery {
  margin-bottom: 27px;
}
.filter__title {
  margin-bottom: 15px;
}
.choices__list--dropdown .choices__item--selectable {
  padding-left: 20px;
}
.choices__inner,
.choices__list--dropdown,
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices.is-focused.is-open .choices__inner{
  border-radius: 6px;
  background: transparent;
  font-size: 16px;
}
.is-open .choices__list--dropdown {
  border: 1px solid #999999;
}
.choices__list--dropdown .choices__item--selectable {
  border-radius: 6px;
  font-size: 16px;
}
.choices__list--dropdown .choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #999999;
  border-radius: 0;
}
.choices__item {
  color: #999999;
}
.choices__list--single .choices__item {
  color: #fff;
}
.choices__list--dropdown .is-selected{
  display: none;
}
.choices[data-type*=select-one]:after {
  top: 39%;
  right: 15px;
  height: 7px;
  width: 7px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-width: 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.choices[data-type*=select-one].is-open::after {
  margin-top: -2.5px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.swiper-container--gallery {
  max-width: 1150px;
  width: 100%;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: calc((100% - 0px) / 2);
}
.swiper-buttons {
  position: relative;
  width: 144px;
  top: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  position: relative;
  text-align: center;
}
.swiper-button-next, .swiper-button-prev {
  width: 30px;
  height: 30px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--col-active);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out, background .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out, background .3s ease-in-out;
          transition: opacity .3s ease-in-out, background .3s ease-in-out;
}
.swiper-pagination {
  margin: auto;
  width: 65px;
}
.swiper-button-next .swiper-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.swiper-button-next .swiper-icon,
.swiper-button-prev .swiper-icon {
  fill: #666666;
  stroke: #000;
  -webkit-transition: fill .3s ease-in-out, stroke .3s ease-in-out;
      -o-transition: fill .3s ease-in-out, stroke .3s ease-in-out;
          transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}
.swiper-button-next:hover .swiper-icon,
.swiper-button-prev:hover .swiper-icon {
  fill: var(--col-accent);
  stroke: #FFFFFF;
}
.swiper-button-prev:focus,
.swiper-button-next:focus {
  outline: none;
}
.swiper-button-next:focus::after,
.swiper-button-prev:focus::after {
  opacity: 1;
}
.swiper-button-next:active::after,
.swiper-button-prev:active::after {
  background: #D1A9F0;
  opacity: 1;
}
.swiper-button-next:active .swiper-icon,
.swiper-button-prev:active .swiper-icon {
  fill: var(--col-active);
}
.login {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  color: var(--col-hover);
  text-decoration: none;
  -webkit-transition: border-bottom-color .3s ease-in-out;
  -o-transition: border-bottom-color .3s ease-in-out;
  transition: border-bottom-color .3s ease-in-out;
}
.login:hover,
.login:focus {
  border-bottom-color: var(--col-hover);
  outline: none;
}
.swiper-slide {
  cursor: pointer;
}
.swiper-slide img {
  width: 100%;
}
.slide-img {
  position: relative;
}
.slide-img::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 7.15%;
  width: 85.7%;
  height: 85.7%;
  background: rgba(0,0,0,.5);
  opacity: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out;
}
.slide-img::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 99%;
  background: url("../img/gallery/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out, background .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out, background .3s ease-in-out;
  transition: opacity .3s ease-in-out, background .3s ease-in-out;
}
.slide-img:hover::after,
.slide-img:hover::before {
  opacity: 1;
}
.slide-img:active::before {
  background: rgba(194,131,243,.4) url("../img/gallery/loupe.svg") no-repeat center;
}
/* section__catalog */
.section__catalog {
  padding-bottom: 80px;
  padding-top: 84px;
}
.section__wrap--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__title--catalog {
  margin-right: 31px;
}
.section__contry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -12px;
}
.contry__item:not(:last-child) {
  margin-right: 30px;
}
.contry__btn {
  padding: 8px;
  width: 66px;
  height: 66px;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: border .3s ease-in-out, -webkit-filter .3s ease-in-out;
  transition: border .3s ease-in-out, -webkit-filter .3s ease-in-out;
  -o-transition: filter .3s ease-in-out, border .3s ease-in-out;
  transition: filter .3s ease-in-out, border .3s ease-in-out;
  transition: filter .3s ease-in-out, border .3s ease-in-out, -webkit-filter .3s ease-in-out;
}
.contry__btn.active {
  border: 2px solid #9D5CD0;
}
.contry__icon {
  width: 46px;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: border .3s ease-in-out;
  -o-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}
.section__descr--catalog {
  width: 100%;
  max-width: 1080px;
}
.section__wrapper.section__wrapper--catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
  width: 100%;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.section__wrapper.section__wrapper--catalog.active {
  opacity: 1;
}
.section__wrap.artist,
.section__wrap.years {
  width: 50%;
}
.section__wrap.years {
  width: 50.65%;
}
.section__wrap.artist {
  max-width: 750px;
}
.artist__img {
  margin-bottom: 26px;
  width: 100%;
}
.artist__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.artist__subtitle {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}
.artist__descr {
  line-height: 32px;
  color: #333333;
}
.years__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -14px;
  margin-left: 2px;
  padding: 7px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.years__item:not(:first-child) .years__title {
  border-top: 1px solid transparent;
}
.years__title {
  margin-top: -1px;
  padding-top: 40px;
  padding-bottom: 46px;
  width: 100%;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  outline: none;
  font-weight: 600;
  font-size: 24px;
  -webkit-transition: border-bottom .3s ease-in-out, border-top .3s ease-in-out;
  -o-transition: border-bottom .3s ease-in-out, border-top .3s ease-in-out;
  transition: border-bottom .3s ease-in-out, border-top .3s ease-in-out;
}
.years__item:first-child .years__title {
  padding-top: 47px;
}
.years__arrow {
  position: absolute;
  right: 0;
  top: 41px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.years__icon {
  fill: #ECECEC;
  stroke: #000;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: fill .3s ease-in-out, stroke .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: fill .3s ease-in-out, stroke .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -o-transition: fill .3s ease-in-out, stroke .3s ease-in-out, transform .3s ease-in-out;
  transition: fill .3s ease-in-out, stroke .3s ease-in-out, transform .3s ease-in-out;
  transition: fill .3s ease-in-out, stroke .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.years__arrow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2px;
  top: -2px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #D1A9F0;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.years__artists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 28px;
  padding-right: 24px;
  margin-top: 25px;
  width: 100%;
  max-height: 341px;
  border-bottom: 1px solid #9D5CD0;
}
.years__art {
  width: 208px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.years__btn {
  padding: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  -webkit-transition: border-bottom-color .3s ease-in-out;
  -o-transition: border-bottom-color .3s ease-in-out;
  transition: border-bottom-color .3s ease-in-out;
}
.years__btn.active {
  color: #9D5CD0;
}
.contry__btn:hover {
  -webkit-filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
          filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}
.years__item:hover {
  color: #9D5CD0;
}
.years__item .years__title:hover {
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}
.years__item:hover .years__icon {
  fill: var(--col-accent);
  stroke: #FFFFFF;
}
.years__btn:hover{
  border-bottom-color: var(--col-hover);
}
.contry__btn:focus {
  outline: none;
}
.years__item:focus {
  outline: 2px solid #7943A4;
}
.years__btn:focus {
  outline: 2px solid #7943A4;
}
.contry__btn:active .contry__icon{
  border: 2px solid #9D5CD0;
}
.years__item:active {
  color: #7943A4;
}
.years__item .years__title:active {
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
}
.years__title.ui-state-active {
  border-bottom: 1px solid #9D5CD0;
}
.ui-accordion-content-active + .years__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.years__item:active .years__arrow .years__icon {
  fill: var(--col-active);
  stroke: #FFFFFF;
}
.years__item:active .years__arrow:after {
  opacity: 1;
}


/* media */
@media (max-width: 1390px) {
  .header__logo {
    margin-right: 95px;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .catalogy__item:not(:last-child) {
    margin-right: 35px;
  }
  .section__wrap.artist {
    margin-right: 36px;
  }
  .years__artists {
    max-height: 438px;
  }
}
@media (max-width: 1250px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
  .header__wrap:last-child,
  .header__nav,
  .header__log-in {
    display: none;
  }
  .header__wrap {
    padding-bottom: 29px;
    padding-top: 35px;
  }
  .header__logo {
    position: absolute;
    left:50%;
    width: 187.6px;
    -webkit-transform:translate(-50%);
        -ms-transform:translate(-50%);
            transform:translate(-50%);
  }
  .logo__icon {
    width: 187.6px;
  }
  .header__burger {
    display: block;
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 768px;
    background: rgba(0, 0, 0, .9);
  }
  .burger__nav--open {
    display: block;
  }
  .nav__list {
    display: block;
    padding-top: 114px;
    margin-left: 48px;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 37px;
  }
  .nav__item:last-child {
    margin-bottom: 131px;
  }
  .nav__link {
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
  .header__log-in:focus {
  outline: none;
  }
  .burger__nav--open + .header__log-in {
    position: absolute;
    z-index: 100;
    top: 657px;
    left: 0;
    display: block;
    text-align: center;
    margin-left: 50px;
    padding-left: 0;
    padding-top: 18px;
    padding-bottom: 17px;
    width: 257px;
    border: 2px solid var(--col-accent);
    border-radius: 100px;
  }
  .nav__link:active {
    color: var(--col-active);
  }
  .header__log-in:active {
    color: var(--col-accent);
  }
  .header__log-in:active svg .log-in__icon {
    fill: var(--col-accent);
  }
  .header__search {
    display: block;
    margin-bottom: 6px;
    padding-left: 1px;
    width: 29px;
    height: 28px;
  }
  .header__search--open {
    position: absolute;
    right: 50px;
    top: 35px;
    padding-bottom: 8px;
    padding-right: 0;
    padding-left: 1px;
    width: 261px;
    height: 36px;
    background: #18171B;
  }
  .header__search--open .search__icon {
    margin-left: -226px;
    width: 29px;
    height: 28px;
  }
  .header__search-open {
    position: relative;
    display: none;
    vertical-align: top;
    width: 218px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    color: var(--col-hover);
    background: transparent;
  }
  .header__search-open:focus,
  .header__search:focus {
    outline: none;
  }
  .header__search--open + .header__search-open {
    display: inline-block;
  }
  .search__icon {
    width: 29px;
    height: 28px;
  }
  .section__hero {
    padding-top: 113px;
    height: 668px;
  }
  .hero__slider {
    height: 668px;
  }
  .hero__title {
    margin-left: -6px;
    margin-bottom: 12px;
  }
  .hero__desc {
    margin-bottom: 161px;
    max-width: 665px;
  }
  .section__wrapper:last-child {
    margin-top: 64px;
    width: 64.5%;
  }
  .section__wrapper:first-child, .section__wrapper:nth-child(2) {
    margin-right: 51px;
    width: 30%;
  }
  .container--gallery {
    height: 700px;
  }
  .section__title--gallery {
    margin-left: -3px;
  }
  .swiper-container--gallery {
    height: 601px;
  }
  .swiper-slide img {
    max-width: 280px;
  }
  .swiper-slide {
    height: calc((100% - 50px) / 2);
  }
  .swiper-buttons {
    width: 147px;
    top: -27px;
    left: -5px;
  }
  .section__wrapper.section__wrapper--catalog {
    margin-top: 40px;
    width: 100%;
    max-width: 100%;
  }
  .section__wrap--title {
    margin-left: -3px;
  }
  .section__title--catalog {
    margin-right: 33px;
  }
  .section__contry {
    margin-top: 0px;
  }
  .section__wrap.artist {
    margin-right: 4%;
  }
  .section__wrap.years {
    margin-top: 9px;
  }
  .years__artists {
    margin-right: 0;
    padding-right: 0;
  }
  .years__item:first-child .years__title {
    padding-top: 40px;
  }
  .years__art:first-child {
    margin-right: 9%;
  }
  .years__item:first-child .years__arrow {
    top: 36px;
  }
}
@media (max-width: 981px) {
  .section__wrapper.section__wrapper--catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__wrap.artist, .section__wrap.years {
    width: 100%;
  }
  .section__wrap.artist {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
  }
  .section__wrap.years {
    margin-bottom: 45px;
  }
  .section__contry {
    margin-top: -12px;
  }
  .contry__item:not(:last-child) {
    margin-right: 34px;
  }
  .section__descr--catalog {
    margin-bottom: 20px;
  }
  .years__item {
    margin-left: -11px;
    width: 101.5%;
  }
  .years__title {
    margin-left: 4px;
  }
  .years__artists {
    max-height: 341px;
  }
  .years__art:first-child,
  .years__art:nth-child(10) {
    margin-right: 5%;
  }
}
@media (max-width: 891px) {
  .header__search--open {
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 500;
    text-align: justify;
    width: 100%;
    height: 87px;
    background: #000;
  }
  .header__search--open + .header__search-open {
    z-index: 500;
    margin-left: 12px;
    margin-right: auto;
    width: 86.3%;
  }
  .header__search--open .search__icon {
    margin-left: 50px;
  }
  .header__search--open .search__close {
    position: absolute;
    right: 46px;
    top: 36px;
    display: block;
    width: 37px;
    height: 3px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }
  .search__close {
    display: none;
  }
  .search__close::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0px;
    width: 37px;
    height: 3px;
    background: #FFFFFF;
    -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
  }
  .section__gallery {
    padding: 85px 0 53px;
  }
  .container--gallery {
    height: auto;
  }
  .section__wrapper:first-child {
    width: 100%;
  }
  .section__wrapper:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
    margin-bottom: 72px;
    max-width: 100%;
    width: 100%;
  }
  .section__wrapper:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
    width: 100%;
  }
  .section__title--gallery {
    margin-bottom: 29px;
  }
  .section__filter {
    min-height: 160px;
    width: 280px;
  }
  .filter__title {
    margin-bottom: 16px;
  }
  .choices__inner {
    padding: 4.5px 9.5px 3.75px;
    min-height: 40px;
  }
  .swiper-buttons {
    width: 93px;
    top: -8px;
    left: 0px;
  }
  .swiper-button-prev {
    left: 0px;
    top: 46px;
  }
  .swiper-pagination {
    left: 18px;
    top: 37px;
  }
  .swiper-button-next {
    left: 37px;
    top: 47px;
  }
  .swiper-slide img {
    max-width: 317px;
    max-height: 280px;
  }
  .swiper-container--gallery {
    top: 64px;
    margin-left: 0;
    max-height: 601px;
    max-width: 668px;
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    height: calc((100% - 45px) / 2);
  }
}
@media (max-width: 767px) {
  .years__artists {
    max-height: 100%;
  }
  .section__wrap--title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section__contry {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .contry__item:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 658px) {
  .header__nav {
    height: 660px;
  }
  .header__item:last-child {
    margin-bottom: 40px;
  }
  .burger__nav--open + .header__log-in {
    top: 555px;
  }
  .header__search--open + .header__search-open {
    margin-left: 0;
    width: 80%;
  }
  .search__close {
    right: 0;
  }
  .section__hero {
    padding-top: 76px;
    height: 560px;
  }
  .hero__slider {
    height: 560px;
  }
  .hero__title {
    text-align: center;
    font-size: 44px;
    line-height: 52px;
  }
  .hero__desc {
    text-align: center;
    margin-bottom: 80px;
    font-weight: normal;
  }
  .hero__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-buttons {
    width: 108px;
  }
}
@media (max-width: 441px) {
  .header {
    height: 45px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .btn {
    padding: 11px 16px;
    font-size: 12px;
    letter-spacing: inherit;
  }
  .header__wrap {
    padding-bottom: 13px;
    padding-top: 16px;
    margin-bottom: -18px;
  }
  .header__burger {
    height: 15px;
  }
  .burger__menu {
    width: 15.67px;
    height: 1.96px;
  }
  .burger__menu::before {
    bottom: 0;
    width: 13.33px;
    height: 1.96px;
  }
  .burger__menu::after {
    top: 0;
    width: 20px;
    height: 2.96px;
  }
  .burger__menu--close {
    display: block;
    width: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }
  .burger__menu--close::after {
    height: 1.96px;
  }
  .header__nav {
    height: 355px;
  }
  .nav__list {
    padding-top: 51px;
    margin-left: 15px;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 12px;
  }
  .nav__item:last-child {
    margin-bottom: 25px;
  }
  .nav__link {
    font-size: 16px;
  }
  .burger__nav--open + .header__log-in {
    top: 288px;
    left: -35px;
    width: 115px;
    padding-top: 10px;
    padding-bottom: 11px;
    font-size: 12px;
  }
  .log-in__icon {
    width: 9px;
    height: 9px;
  }
  .header__log-in {
    margin-left: -5px;
  }
  .header__search {
    margin-bottom: 0;
    padding-top: 0;
    width: 16px;
    height: 16px;
  }
  .header__search--open {
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, .4);
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
  }
  .search__icon {
    width: 16px;
    height: 16px;
  }
  .header__search--open .search__icon {
    margin-left: 57px;
    margin-bottom: -15px;
    width: 16px;
    height: 16px;
  }
  .header__search-open {
    vertical-align: super;
    margin-top: 23px;
  }
  .header__search--open + .header__search-open {
    position: absolute;
    left: 50%;
    top: 9px;
    width: 57%;
    -webkit-transform: translate(-47%);
        -ms-transform: translate(-47%);
            transform: translate(-47%);
  }
  .header__search--open .search__close {
    right: 13px;
    top: 22px;
    width: 19px;
    height: 2px;
  }
  .search__close::after {
    width: 19px;
    height: 2px;
  }
  .header__logo {
    width: 96.8px;
  }
  .logo__icon {
    width: 96.8px;
  }
  .section__hero {
    position: relative;
    z-index: -1;
    bottom: -32px;
    padding-top: 0;
    height: 278px;
  }
  .hero__slider {
    top: -32px;
    height: 310px;
  }
  .hero__title {
    margin-left: 0px;
    font-size: 32px;
    line-height: 37px;
  }
  .hero__desc {
    margin-left: 14px;
    margin-bottom: 43px;
    max-width: 265px;
    font-size: 12px;
    line-height: 16px;
  }
  .hero__btn::after {
    width: 205px;
    height: 45px;
  }
  .hero__btn {
    max-width: 202px;
  }
  .section__about-us {
    padding-bottom: 41px;
  }
  .section__title {
    margin-bottom: 14px;
    font-size: 28px;
  }
  .section__descr {
    font-size: 14px;
    line-height: 28px;
  }
  .section__gallery {
    padding-top: 53px;
    padding-bottom: 54px;
  }
  .section__title--gallery {
    margin-bottom: 22px;
  }
  .section__wrapper:first-child {
    margin-right: 0;
    width: 290px;
  }
  .section__filter {
    width: 100%;
  }
  .filter__title {
    margin-bottom: 12px;
  }
  .choices__list--single {
    padding: 1px 0 0 6px;
  }
  .choices__inner {
    padding: 7.5px 8.5px 3.75px;
  }
  .swiper-container--gallery {
    top: 12px;
  }
  .swiper-slide img {
    max-height: 367px;
  }
  .section__wrapper:last-child {
    margin-top: -2px;
    margin-bottom: 63px;
    width: 100%;
  }
  .swiper-buttons {
    top: 389px;
    left: 79px;
    width: 120px;
  }
  .swiper-pagination {
    left: 5px;
    top: 35px;
  }
  .swiper-button-next {
    left: 11px;
    top: 45px;
  }
  .section__descr--catalog {
    display: none;
  }
  .section__title--catalog {
    margin-bottom: 20px;
  }
  .section__contry {
    margin-left: -3px;
    margin-bottom: 15px;
    width: 103%;
  }
  .contry__btn {
    padding: 4px;
    width: 44px;
    height: 44px;
  }
  .contry__icon {
    width: 32px;
  }
  .section__wrap.years {
    margin-bottom: 42px;
  }
  .years__item {
    width: 105%;
  }
  .years__title,
  .years__item:first-child .years__title {
    padding-top: 26px;
    padding-bottom: 27px;
    font-size: 18px;
  }
  .years__artists {
    margin-top: 17px;
    padding-bottom: 20px;
  }
  .years__item:first-child .years__arrow,
  .years__arrow {
    top: 28px;
    right: 5px;
  }
  .years__icon {
    width: 30px;
    height: 30px;
  }
  .years__arrow::after {
    width: 34px;
    height: 34px;
  }
  .artist__img {
    margin-bottom: 17px;
  }
  .artist__title {
    margin-bottom: 14px;
  }
  .artist__descr {
    padding-right: 2px;
  }
  .artist__subtitle {
    margin-bottom: 6px;
  }
}
/* reset hover-effects in mobile*/
@media (max-width: 441px) {
  .nav__link:hover {
    color: white;
  }
  .header__log-in:hover {
    color: white;
  }
  .header__log-in:hover .log-in__icon {
    fill: white;
  }
  .header__search:hover .search__icon {
    fill: white;
  }
  .hero__btn:hover {
      border-color: transparent;
  }
  .swiper-button-next:hover .swiper-icon,
  .swiper-button-prev:hover .swiper-icon {
    fill: #666666;
    stroke: #000;
  }
  .login:hover {
    border-bottom-color: transparent;
    outline: none;
  }
  .slide-img:hover::after,
  .slide-img:hover::before {
    opacity: 0;
  }
  .slide-img:active::before {
    opacity: 1;
    background: rgba(194,131,243,.4) url("../img/gallery/loupe.svg") no-repeat center;
  }
  .slide-img:active::after{
    opacity: 1;
  }
  .contry__btn:hover {
    -webkit-filter: none;
            filter: none;
  }
  .years__item:hover {
    color: var(--col-text);
  }
  .years__item .years__title:hover {
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
  }
  .years__item:hover .years__icon {
    fill: #ECECEC;
    stroke: #000;
  }
  .years__btn:hover{
    border-bottom-color: transparent;
  }
}
